* {
  padding: 0;
  margin: 0;
}


body {
box-sizing: border-box;
background-color: rgb(69, 18, 18);
width: 100%;



}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ,monospace;
  border: 2px double;
  width: 100%;
  color: rgb(115, 30, 194);
  background-color: rgb(104, 26, 53);
  opacity: 50%;
  border-style: groove;
  border-radius: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 20rem 15rem 10rem;
  gap: 50px;
  

}

img {
  width: 200px;
  height: 250px;
  border: 2px ridge rgb(84, 56, 20);
  margin-top: 20px;
  cursor: pointer;
}

h4{
  color: rgb(82, 82, 147);
  font-size: 18px;
  box-shadow: 1px 11px 40px rgb(69, 69, 117);
  font-weight: 100;
  font-family: monospace,sans-serif;
  padding: 5px;
}

 .pic:hover{
  padding-right: 10px;
  zoom: 110%;
  
 
  
 }

 hr {
  color: rgb(43, 178, 178);
  width: 60%;
  box-shadow: 1px 1px 10px 10px rgb(68, 121, 59) ;
  height: 1px;
  width: 100%;
 }



header {
  background-color: b#cb4413;
}

li {
  list-style: none;
}

a {
  color-interpolation-filters: white;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 30%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 50px;
}

.nav-links {
  transition: 0.3s ease-out;
}

.nav-links:hover{
  color: darkgoldenrod;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  transition: ease-out;
  -webkit-transition: all 0.3s ease-out;
  background-color: #cb4413;
}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger:active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger:active .bar:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
 .nav-item{
    margin: 16px 0;
  }
 .nav-menu.active{
    left: 0;
  }
}
